<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402143990077-2tbaaueh0fh17vn3o29s86s772lgegep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402143990077-2tbaaueh0fh17vn3o29s86s772lgegep</string>
	<key>API_KEY</key>
	<string>AIzaSyCXpS1_w5LS7xyQuWQjSSRlKaqy7Yo9X3c</string>
	<key>GCM_SENDER_ID</key>
	<string>402143990077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metalfolding</string>
	<key>PROJECT_ID</key>
	<string>metalfolding</string>
	<key>STORAGE_BUCKET</key>
	<string>metalfolding.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402143990077:ios:5bc25c34ce7a725098b554</string>
</dict>
</plist>